.useful__Form {
  padding-top: 20vh;
}
.useful__title {
  padding-bottom: 5vh;
}

.useful__title {
  text-align: center;
}
.inputStyle {
  width: 100vw;
  height: 10vh;
  border: none;
  outline: none;
  border-bottom: solid 1px black;
  font-size: 30px;
}
