.container {
  margin: 0 auto;
}
.headerBlock {
  padding-top: 2vh;
  display: flex;
  justify-content: space-around;
}
.sign {
  text-align: center;
  font-weight: 200;
  padding-top: 5vh;
}
.sign__text {
  font-size: 40px;
  margin: 0;
}
.prophesy {
  font-size: 22px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-left: 0;
}

.frontInfoList {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  padding-top: 3vh;
  list-style: none;
  text-align: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
}

.prophesy__list {
  padding-top: 1vh;
  padding-left: 5px;
  padding-left: 5px;
}
.frontInfoList__list {
  padding-top: 2vh;
}
.prophesy__link {
  color: black;
  align-content: center;
}
.frontInfoList__link {
  composes: prophesy__link;
}

.wave {
  display: none;
}
.footerStyle {
  display: none;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

.gameClick {
  font-size: 20px;
  text-align: center;
  padding-top: 2vh;
}

@media (min-width: 768px) {
  .prophesy {
    flex-direction: row;
    justify-content: center;
  }
  .prophesy__list {
    padding-left: 5px;
    padding-right: 5px;
  }
  .frontInfoList {
    flex-direction: row;
    padding-top: 4vh;
    flex-wrap: wrap;
    justify-content: center;
  }
  .frontInfoList__list {
    width: 33%;
  }
  .wave {
    display: block;
  }
  .gameClick_link {
    color: black;
  }
  .footerStyle {
    display: block;
    padding-top: 2vh;
  }
}
@media (min-width: 1024px) {
  .prophesy {
    padding-top: 5vh;
  }
  .sign__text {
    padding-top: 90px;
  }
  .frontInfoList {
    flex-wrap: nowrap;
    padding-top: 6vh;
  }
  .wave {
    padding-top: 6vh;
  }

  .footerStyle {
    padding-top: 5vh;
  }
}
/* @keyframes runningLine {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
} */
