.layout::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: aqua;
  opacity: 0.5;
}
.modalWindow_close {
  position: absolute;
  right: -5%;
  top: -5%;
  font-size: 40px;
  cursor: pointer;
}
.enter {
  opacity: 0;
}
.enterActive {
  opacity: 1;
  transition: opacity 2000ms;
}

.modalWindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid 2px black;
  border-radius: 50px;
  width: 40%;
  height: 40%;
  text-align: center;
  background-color: blueviolet;
  z-index: 100;
}
.modalWindow__title {
  margin-top: 10vh;
  margin-bottom: auto;

  font-size: 1.5rem;
}
.modalWindow_btnClose {
  margin-top: 10vh;
  cursor: pointer;
}
