html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  margin: 0;
  /* font-family: "Source Code Pro", monospace; */
  /* font-family: "Bad Script", cursive; */
  font-family: "Poiret One", cursive;
}
img {
  display: block;
}
