.nav {
  display: flex;
  flex-direction: column;
  font-size: 22px;
  list-style: none;
  text-align: center;
  align-items: center;
  margin: 0;
  padding-left: 0;
  padding-top: 4vh;
}
.link {
  color: black;
  align-content: center;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .link {
    flex-basis: 33%;
  }
}
@media (min-width: 1024px) {
  .nav {
    flex-wrap: nowrap;
  }
}
@media (orientation: landscape) and (max-height: 520px) {
  .nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .link {
    flex-basis: 33%;
  }
}
