.container {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.line {
  margin: 0;
  border: 0;
  height: 0.8px;
  background: black;
  font-size: 0;
}

.form {
  position: relative;
  width: 90%;
  margin: 0 auto;
}
.input {
  padding-left: 15px;
  width: 100%;
  height: 68px;
  border: none;
  outline: none;
  font-size: 30px;
  font-family: "Poiret One", cursive;
}
.acceptBlock {
  height: 70px;
}
.text {
  margin: 0;
  padding-left: 20px;
}

.acceptInput {
  transform: scale(1.5);
  margin: 0;
}
.acceptInput:checked:after {
  position: absolute;
  content: "";
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  background: black;
  border-radius: 50%;
  opacity: 0.5;
}
.acceptText {
  color: red;
  composes: text;
}

.acceptTextActive {
  color: black;
  composes: text;
}
.acceptCheckBox {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.btn {
  display: block;
  margin: 0 auto;
  padding: 2vh;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: "Poiret One", cursive;
}
.submitBtn {
  visibility: hidden;
  composes: btn;
}
.submitBtnActive {
  visibility: visible;
  composes: btn;
}
.acceptLink {
  font-size: 1rem;
  text-transform: uppercase;
  color: inherit;
}
.errorStyle {
  position: absolute;
  right: 10px;
  transform: translateY(-100%);
  color: red;
  font-size: 18px;
}
.footer {
  display: none;
}
@media (min-width: 768px) {
  .acceptCheckBox {
    width: 400px;
  }
  .btn {
    margin: 0;
    margin-left: auto;
  }
  .acceptBlock {
    display: flex;
  }
  .footer {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
  }
}
@media (min-width: 1024px) {
  .form {
    width: 700px;
  }
  .acceptBlock {
    width: 700px;
  }
}
