.container {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.line {
  height: 1px;
  background-color: black;
}

.form {
  padding-left: 10px;
  padding-right: 10px;
}
.useful__title {
  padding-bottom: 3vh;
}
.useful__title {
  text-align: center;
}
.input {
  width: inherit;
  width: 100%;
  height: 10vh;
  border: none;
  outline: none;

  font-size: 30px;
}
.acceptBlock {
  margin: 0 auto;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}
.acceptText_main {
  margin: 0;
  padding-left: 15px;
}

.acceptInput {
  transform: scale(1.5);
  margin-left: 10px;
}
.acceptText {
  color: red;
  composes: acceptText_main;
}

.acceptTextIsActive {
  color: black;
  composes: acceptText_main;
}
.acceptCheckBox {
  display: flex;
  align-items: center;
  margin-top: 30px;
  width: 400px;
}
.submitBtn {
  outline: none;
  border: none;
  background: none;
  margin-top: 30px;
  cursor: pointer;
}
.useful__acceptSubmitText {
  padding-left: 10px;
  padding-right: 10px;
  margin: 0;
}
.useful__acceptLink {
  font-size: 1rem;
  text-transform: uppercase;
  color: inherit;
}

@media (min-width: 768px) {
  .form {
    padding: 0;
    width: 500px;
  }
  .useful__Form {
    margin-top: 15vh;
  }
  .acceptBlock {
    width: 500px;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}
@media (min-width: 1024px) {
  .form {
    width: 700px;
  }
  .acceptBlock {
    width: 700px;
  }
}
