.container {
  font-size: 14px;
}

.line {
  margin: 0;
  border: 0;
  height: 0.8px;
  background: black;
  font-size: 0;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
.input {
  padding-left: 15px;
  width: 100%;
  height: 68px;
  border: none;
  outline: none;
  font-size: 30px;
  font-family: "Poiret One", cursive;
}

.errorStyle {
  position: absolute;
  right: 10px;
  transform: translateY(-100%);
  color: red;
  font-size: 18px;
}
.footer {
  display: none;
}
@media (min-width: 768px) {
  .acceptCheckBox {
    width: 400px;
  }
  .btn {
    margin: 0;
    margin-left: auto;
  }
  .acceptBlock {
    display: flex;
  }
  .footer {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: block;
  }
}
@media (min-width: 1024px) {
  .form {
    width: 700px;
  }
  .acceptBlock {
    width: 700px;
  }
}
