.container {
  width: 100%;
  margin: 0 auto;
}
.line {
  height: 1px;
  background-color: black;
}
.nav {
  display: flex;
  height: 25vh;
  justify-content: space-between;
  align-items: center;
}

.address {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 15vh;
}
.address__title {
}
.address__data {
  font-size: 25px;
  font-weight: 100;
}
@media (min-width: 768px) {
  .address__data {
    font-size: 45px;
    font-weight: 100;
  }
}
.phone {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 10vh;
}
.phone__title {
}
.phone__data {
  font-style: 20px;
}
.mail {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 10vh;
}
.mail__title {
}
.mail__data {
  font-style: 20px;
}
.socials {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 10vh;
}
.socials__title {
}
.socials__data {
  font-style: 20px;
}
.ask {
  font-size: 30px;
  display: flex;
  justify-content: center;

  align-items: center;
  height: 30vh;
  /* text-decoration: none; */
}

.ask__link {
  color: black;
}
